body {
  height: 100vh;
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 3rem;
  border: 1px solid black;
  font-size: larger;
  text-align: center;
  color: white;
}
.container-fluid {
  width: 35rem;
}
